.thumb-container
	text-align: center
	//+clearfix

.thumb
	display: inline-block
	background: no-repeat
	background-size: cover
	height: 350px
	width: 35%
	border-radius: 5px
	margin: 10px 10px
	//float: left